@charset 'UTF-8';

@font-face {
    font-family: 'centurion';
    src: url(../fonts/The\ Centurion.otf) format('opentype');
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
/*HEADER*/

.content {
    background: #393b3c;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
}

nav {
    width: 60vw;
    display: flex;
    justify-content: center;
}

.list-menu {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.SilverSlim {
    height: 80px;
    padding: 0 0 5px 15px;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    flex: 1;
    padding-top: 80px; /* Espaço para o header fixo */
}

/*first section*/

.section {
    padding: 100px 20px;
    text-align: center;
}

.home {
    background: url('https://i.pinimg.com/736x/bf/d3/30/bfd330c6fc0ec00a7f04cbebe0fee28f.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}


.home .intro {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.home .intro h1 {
    font-size: 3em;
    margin: 0;
}


.home .intro p {
    font-size: 1.5em;
}


.home .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}


.home .btn:hover {
    background-color: #000;
    color: #fff;
}

/*two section*/

.about, .products, .testimonials, .blog, .contact {
    background-color: #fff;
}

.about {
    text-align: center;
}
/*
section#about > h2{
    font-family: 'centurion','Courier New', Courier, monospace !important;
    font-size: 2.5rem;
    
}
*/
h1, h2 {
    font-family: 'Georgia', serif;
}

/*three section*/

.product-list, .highlight-list, .testimonial-list, .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.saleBt {
    background-color: rgb(64, 241, 64);
    border-radius: 15px;
}

.saleBt:hover {
    background-color: rgb(5, 204, 5);
    box-shadow: 2px 2px 14px #44df7d;
    cursor: pointer;
}

.product, .highlight, .testimonial, .blog-post {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 26%);
    border-radius: 5px;
    text-align: center;
    width: 210px;
}

.product img, .highlight img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}


.testimonial p {
    font-style: italic;
}


.blog-post a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.blog-post a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.logo {
    width: 20vw;
}

@media (max-width: 870px) {

    .logo {
        padding-left: 15px;
    }

    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s ;
    }

    .menu-toggle {
        width: 45px;
        height: 30px;
    }

    .content.on {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1f1e1f;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu {
        display: block;
        
    }

    .content.on .list-menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        
    }

    .content.on .list-menu li a {
        font-size: 2.5rem;
        display: block;
    }

    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -7px);
    }

    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }

    .SilverSlim {
        display: none;
    }

    .ocultarMobile {
        transform: scale(0.6) translateY(67px); /* Reduz para 50% do tamanho original */
        transform-origin: bottom; /* Escala a partir do centro do elemento */
    }
}

@media (max-width: 399px){
    .contentsobre p {
        text-align: justify;
        width: 270px;
     }
}